html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    text-align: left;
    background-color: #fff;
  }
  .header2{
    height: 5vh;
    min-width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
    }
    .Parent1 {
        display: flex;
        flex-direction: row;
        }
        .child4 {
            width: 20%;
            height: 5vh;
            background-color: white;
            text-align: right;
            color: white;
            }
            .logo1{
                font-size: 55px;
                line-height: 60px;
                padding: 10px;
                text-align: left;
                }
                .logo1 a {
                color: blue;
                font-weight: bold;
                }
                .logo1 i {
                color: blue;
                }
                .child5 {
                    width: 80%;
                    color: green;
                    background-color: white;
                    height: 5vh;
                    }
                    #main1 {
                        width: 1000px;
                        height: 25px;
                        border: 0 solid #c3c3c3;
                        display: flex;
                        font-size: 12px;
                        }
                        #main1 li{
                            list-style-type: none;                 
                        }
                        #main1 li a
                        {
                        display: block;
                        text-decoration: none;
                        color: black;
                        padding: 5px 15px 5px 15px;
                        border-radius: 40px;
                        background: white;
                        margin-left: 2px;
                        white-space: nowrap;
                        
                        }
                        #main1 li a .active{
                        color: blue;
                        }
                        
                        #main1 div {
                        flex-basis: 60px;
                        margin-top: 1rem;
                        }
                        #main1 div:nth-of-type(2) {
                        flex-basis: 50px;
                        }