html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    text-align: left;
    background-color: #fff;
  }
  .header2{
    height: 6vh;
    min-width: 768px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #b20000;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
    }
    .Parent1 {
        display: flex;
        flex-direction: row;
        }
        .child4 {
            width: 30%;
            height: 5vh;
            text-align: left;
            color: white;
            margin-top: 0.3rem;
            font-size: 13px;
            }

                .child5 {
                    width: 80%;
                    height: 5vh;
                    color: white;
                    margin-left: 80px;
                    margin-top: 0.5rem;
                    }
                    .child6,.child7 , .child8{
                      width: 6.66%;
                      height: 5vh;
                      text-align: left;
                      color: white;
                      margin-top: 0.3rem;
                      font-size: 13px;
                      }
                      
                    #main1 {
                        width: 1000px;
                        height: 25px;
                        border: 0 solid #c3c3c3;
                        display: flex;
                        font-size: 12px;
                        }
                        #main1 li{
                            list-style-type: none;                 
                        }
                        #main1 li a
                        {
                        display: block;
                        text-decoration: none;
                        color: #fff;
                        padding: 5px 15px 5px 15px;
                        background: #b20000;
                        margin-left: 2px;
                        white-space: nowrap;
                        }
                        #main1 li a .active{
                        color: blue;
                        }
                        
                        #main1 div {
                        flex-basis: 60px;
                        margin-top: 1rem;
                        }
                        #main1 div:nth-of-type(2) {
                        flex-basis: 50px;
                        }
                        #info{
                          line-height: 1rem;
                          padding-bottom: 0.75em;
                          display: block;
                          float: left;

                        }