html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #fff;
}

.header2 {
  height: 6vh;
  min-width: 768px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #b20000;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;

}

.Parent1 {
  display: flex;
  flex-direction: row;
}

.child4 {
  width: 30%;
  height: 5vh;
  text-align: left;
  color: white;
  margin-top: 0.3rem;
  font-size: 13px;

}

.child5 {
  width: 80%;
  height: 5vh;
  color: white;
  margin-left: 80px;
  margin-top: 0.5rem;

}

.child6,
.child7,
.child8 {
  width: 6.66%;
  height: 5vh;
  text-align: left;
  color: white;
  margin-top: 0.3rem;
  font-size: 13px;

}

#main1 {
  width: 1000px;
  height: 25px;
  border: 0 solid #c3c3c3;
  display: flex;
  font-size: 12px;
}

#main1 li {
  list-style-type: none;
}

#main1 li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px 5px 15px;
  background: #b20000;
  margin-left: 2px;
  white-space: nowrap;
}

#main1 li a .active {
  color: blue;
}

#main1 div {
  flex-basis: 60px;
  margin-top: 1rem;
}

#main1 div:nth-of-type(2) {
  flex-basis: 50px;
}

.container {
  height: 17vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}

.container1 {
  height: 9.5vh;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 12px;
  color: #b20000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin-top: -0.8rem;
  margin-left: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-top: -1rem;
}


.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #b20000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.dropbtn1 {
  font-size: 12px;
  border: none;
  outline: none;
  color: #b20000;
  padding: 0px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.dropbtn {
  background-color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #fff;
  color: #b20000;
  height: 420px;
  margin-left: 30px;
}

.column1 {
  float: left;
  width: 10%;
  padding: 10px;
  background-color: #fff;
  color: #b20000;
  height: 420px;
  margin-left: 30px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  height: 420px;
  margin-left: 30px;
}

.column3 {
  float: left;
  width: 5%;
  padding: 10px;
  background-color: #fff;
  height: 420px;
  margin-left: 30px;
}

.column4 {
  float: left;
  width: 15%;
  padding: 10px;
  background-color: #fff;
  height: 420px;
  margin-left: 30px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 30px;
}

.column a:hover {
  background-color: #fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

#logo {
  transform: translate(250%, 5%);
}

.maindiv {
  width: 100%;
  height: 469px;
  position: relative;
  top: 25%;
  /* transform: (50%,-50%); */
  background-image: url('https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 100% 100%;
  animation: slider 30s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url('https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }

  10% {
    background-image: url('https://images.pexels.com/photos/1438248/pexels-photo-1438248.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }

  20% {
    background-image: url('https://images.pexels.com/photos/1393996/pexels-photo-1393996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }

  30% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2020/01/HICC-1-1-scaled.jpg');
  }

  40% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2019/12/2-scaled.jpg');
  }

  50% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2020/01/Shreyas-Joseph-K_MG_10932-2024x1349-1.jpg');
  }

  60% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2020/01/Monica-Taruba_1_S_1-scaled.jpg');
  }

  70% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2020/01/P-K-Navanith-Krishnan_M-scaled.jpg');
  }

  80% {
    background-image: url('https://uohyd.ac.in/wp-content/uploads/2022/05/Chenji-Ambica-1-scaled.jpg');
  }
}

/* .slider-box{
  height: 90vh;
  width: 90%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
#slider{
  width: 100%;
  display: inline-flex;
  transition: 0.7s;
}
#slider img{
  width: 100%;
}
.indicators{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.indicators span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.active{
  background: #fff !important;
} */
.papun {
  height: 350px;
  width: 100%;
  background-color: #0e8274;
  margin-top: none;
}

.papun1 {
  top: 20%;;
  position: relative;
  margin-left: 20%;
}
